/*Here is normalization - chrome*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

.menu-border {
  border-bottom: 1px solid #ececec;
  min-height: 80px;
}

.menu {
  height: 79px;
  padding: 0 27px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 492px;
      flex-basis: 492px;
}

.menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu-right__link {
  text-decoration: none;
  font-weight: 500;
  color: #757575;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  margin-left: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 16px;
}
.menu-right__link:focus, .menu-right__link:hover {
  color: #2196f3;
}
.menu-right__link:visited {
  color: inherit;
}
.menu-right__icon-mail-phone {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
}

.nav-submenu {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 254px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-submenu__link {
  text-decoration: none;
  font-weight: 500;
  color: #212121;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-submenu__link:visited {
  color: inherit;
}
.nav-submenu__link:focus, .nav-submenu__link:hover {
  color: #2196f3;
}
.nav-submenu__link--present {
  position: relative;
  color: #2196f3;
}
.nav-submenu__link--present::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -204%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#2196f3));
  background: linear-gradient(#2196f3, #2196f3);
  border-radius: 2px;
}
.nav-submenu__link--present:visited {
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: transparent;
  text-decoration: none;
  display: block;
  letter-spacing: 0.03em;
  width: 145px;
}
.logo--color {
  background-image: -webkit-gradient(linear, left top, right top, from(#2196f3), color-stop(38%, #2196f3), color-stop(38%, #212121), to(#212121));
  background-image: linear-gradient(to right, #2196f3 0%, #2196f3 38%, #212121 38%, #212121 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
.logo--color-contr {
  background-image: -webkit-gradient(linear, left top, right top, from(#2196f3), color-stop(38%, #2196f3), color-stop(38%, #fff), to(#fff));
  background-image: linear-gradient(to right, #2196f3 0%, #2196f3 38%, #fff 38%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.call-to-action {
  min-height: 400px;
  max-height: 600px;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  background-color: #2f303a;
  color: #fff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .call-to-action {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.call-to-action--bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/cta_bg.jpg), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/index/cta_bg.jpg), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 1600px, cover, 100%;
  background-position: center, center, center;
  -webkit-transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .call-to-action--bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/cta_bg-1200.jpg), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/index/cta_bg-1200.jpg), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-size: 1600px, 1600px, 100%;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2) {
  .call-to-action--bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/cta_bg-1200_2x.jpg), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/index/cta_bg-1200_2x.jpg), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .call-to-action--bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/cta_bg-768.jpg), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/index/cta_bg-768.jpg), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2) {
  .call-to-action--bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/cta_bg-768_2x.jpg), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/index/cta_bg-768_2x.jpg), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2) {
  .call-to-action--bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/cta_bg_2x.jpg), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/index/cta_bg_2x.jpg), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  }
}
.call-to-action__h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 365px;
}
@media screen and (min-width: 1200px) {
  .call-to-action__h1 {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.button1 {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button1:hover {
  cursor: pointer;
}
.button1__icon-send {
  margin-left: 24px;
  fill: #fff;
}

.features {
  margin-bottom: 94px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    width: calc((100% - 90px) / 4);
  }
}
.feature__h3title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*position of next element*/
  margin-bottom: 10px;
  margin-top: 30px;
  vertical-align: middle;
}
.feature__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.feature__icon {
  fill: #afb1b8;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 25px 0;
}

.boxes {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxes--desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .boxes--desktop {
    display: block;
  }
}

.box {
  position: relative;
  max-height: 294px;
  width: 370px;
}
.box__img {
  display: block;
}
.box__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  padding: 28px;
  height: 70px;
  width: inherit;
  position: absolute;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.team {
  background: #f5f4fa;
  min-height: 648px;
}

.team-cards {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team-card {
  width: 100%;
  height: auto;
  padding-bottom: 24px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  line-height: 0;
  -webkit-transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    width: calc((100% - 90px) / 4);
    padding-bottom: 30px;
  }
}
.team-card__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px auto 10px;
}
.team-card__job {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0 15px;
}
.client-list__item {
  line-height: 0px;
  width: calc((100% - 30px) / 2);
  -webkit-transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    width: calc((100% - 150px) / 6);
  }
}
.client-list__logo {
  fill: #afb1b8;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__logo:hover {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}
.footer-flex__logo-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.contact-data {
  min-height: 252px;
  padding: 60px 0;
  background-color: #2f303a;
  color: #fff;
}

.address-group {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 81px;
}
.address-group__text {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  text-align: center;
}
.address-group__link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}
.address-group__link:focus, .address-group__link:hover {
  color: #2196f3;
}
.address-group__link:visited {
  color: inherit;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.email-input {
  width: calc(100vw - 30px);
  height: 156px;
}
@media (min-width: 480px) {
  .email-input {
    width: 450px;
  }
}
.email-input__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.email-input__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.email-input__entry {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 14px 16px;
  width: 100%;
  background-color: inherit;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-input__entry:focus {
  border-color: #2196f3;
  outline: none;
}

.modal {
  width: 528px;
  height: 581px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}
.modal__close-button {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0.6em;
}
.modal__close-icon {
  fill: #000;
  margin: auto;
}

.order-service {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 93%;
}
.order-service .order-service__comment:focus, .order-service .order-service__squeres:focus ~ .order-service__icon, .order-service .order-service__squeres:focus {
  fill: #2196f3;
  border-color: #2196f3;
  outline-style: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service__labels {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.33em;
  width: 100%;
  position: relative;
}
.order-service__icon {
  position: absolute;
  top: 2.42em;
  left: 1em;
  fill: #212121;
}
.order-service__squeres {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.01em;
  color: #757575;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  text-indent: 42px;
}
.order-service__comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  overflow: auto;
}
.order-service__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.order-service__checkbox-link {
  color: #2196f3;
}
.order-service__custom-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 16px;
  height: 15px;
  background-image: url('data:image/svg+xml,%3Csvg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15"%3E%3Cpath d="M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z" fill="%23212121"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
}
.order-service__custom-checkbox:checked {
  background-image: url('data:image/svg+xml,%3Csvg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15"%3E%3Crect width="16" height="15" rx="2" fill="%232196F3"/%3E%3Cpath d="m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
}

.backdrop {
  position: fixed;
  top: 0;
  left: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop[open] {
  -webkit-animation: fade-in 250ms forwards;
          animation: fade-in 250ms forwards;
}
.backdrop[data-modal-close] {
  display: block;
  pointer-events: none;
  inset: 0;
  -webkit-animation: fade-out 250ms forwards;
          animation: fade-out 250ms forwards;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 8px;
  margin-bottom: 50px;
}
.filter__button {
  background-color: #f5f4fa;
  padding: 6px 22px;
  margin: 0 4px;
  border: 4px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:active, .filter__button:hover {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.project-gallery {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project {
  display: block;
  position: relative;
  height: 404px;
  max-width: 370px;
  border: 1px;
  border-style: solid;
  border-color: #eeeeee;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 0;
}
.project:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.project:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project__overlay-mask {
  position: relative;
  overflow: hidden;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 0 0 24px;
}
.project__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0 0 20px 24px;
}

.social-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}
.social-icon-list__background-of-icon {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  border-radius: 50%;
  line-height: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-list__background-of-icon:hover {
  background-color: #2196f3;
}
.social-icon-list__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-list__icon:hover {
  fill: #fff;
}
.social-icon-list__icon--contrast {
  fill: #fff;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__h2-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__h2-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */