.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  margin-bottom: 50px;

  &__button {
    background-color: getColor(team-and-button);
    padding: 6px 22px;
    margin: 0 4px;
    border: 4px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    transition: background-color $transition-time-timing,
      color $transition-time-timing, box-shadow $transition-time-timing,
      border-radius $transition-time-timing;

    &:active,
    &:hover {
      background-color: getColor(highlighter);
      color: #fff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
