.email-input {
  // margin-left: 70px;
  // padding-top: 12px;
  width: calc(100vw - 30px);
  height: 156px;
  transition: width $transition-time-timing;

  @include constant-input {width: 450px; margin: 0 auto;}

  @include desktop {width: 570px; height: 86px; padding-top: 12px;}

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: $line-height-for-font-14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @include desktop {margin-bottom: 20px;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    width: inherit;
    column-gap: 12px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: inherit;
    @include desktop {flex-wrap: wrap; align-items: flex-start; justify-content: flex-end;}
  }

  &__entry {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 14px 16px;
    width: 100%;
    background-color: inherit;
    transition: border-color $transition-time-timing;

    &:focus {
      border-color: getColor(highlighter);
      outline: none;
    }
    @include desktop {width: 358px;}
  }
}
// .email-input {
//   display: flex;
//   flex-direction: column;
//   margin-left: 70px;
//   padding-top: 12px;
//   width: 570px;

//   &__text {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: $line-height-for-font-14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 20px;
//   }

//   &__form {
//     display: flex;
//     justify-content: flex-end;
//     width: inherit;
//     column-gap: 12px;
//   }

//   &__entry {
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     padding: 14px 16px;
//     width: 358px;
//     background-color: inherit;
//     transition: border-color $transition-time-timing;

//     &:focus {
//       border-color: getColor(highlighter);
//       outline: none;
//     }
//   }
// }