.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 89px;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    @include desktop {
      display: block;
      margin-bottom: 0px;
    }
  }
}
