.logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: transparent;
  text-decoration: none;
  display: block;
  letter-spacing: 0.03em;
  width: 145px;

  &--color {
    background-image: linear-gradient(
      to right,
      getColor(highlighter) 0%,
      getColor(highlighter) 40.4%,
      getColor(main-font) 40.4%,
      getColor(main-font) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  &--color-contr {
    background-image: linear-gradient(
      to right,
      getColor(highlighter) 0%,
      getColor(highlighter) 40.4%,
      #fff 40.4%,
      #fff 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
}
