.section {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }

  &__h2-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    @include desktop {
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
    }
  }
}
