//Davidwalsh.name - media querry mixin aproach - breakpoints
:root {
    --phone: (
    max-width: 767px
  );
  --desktop: (min-width: 1200px);
}

// $breakpoint: (
//   'phone': (
//     max-width: 767px
//   ),
//   'tablet':
//   (    (
//         min-width: 768px
//       )
//       and
//       (
//         max-width: 1199px
//       )),
  
// //   'desktop': #{
// //     min-width 1200px
// //   },
//   'retinax2': (
//     min-resolution: 2dppx,
//     min-device-pixel-ratio: 2,
//   ),
// );

// @function getWidth($key) {
//   @return map-get($breakpoint, $key);
// }

// @mixin tablet {
//   @media screen and (getWidth('tablet')) {
//     @content;
//   }
// }

// @mixin tabletx2 {
//   @media screen and (getWidth('tablet')) and (getWidth('retinax2')) {
//     @content;
//   }
// }

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

// @mixin desktopx2 {
//   @media screen and (getWidth('desktop')) and (getWidth('retinax2')) {
//     @content;
//   }
// }

// @mixin phonex2 {
//   @media screen and (getWidth('phone')) and (getWidth('retinax2')) {
//     @content;
//   }
// }
