.box {
  position: relative;
  max-height: 294px;
  width: 370px;

  &__img {
    display: block;
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    line-height: $line-height-for-font-14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    padding: 28px;
    height: 70px;
    width: inherit;
    position: absolute;
    bottom: 0px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
  }
}
