.feature {
  display: block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__h3title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: $line-height-for-font-14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /*position of next element*/
    margin-bottom: 10px;
    margin-top: 30px;
    vertical-align: middle;
  }

  &__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor(ordinary-font);
  }

  &__icon {
    fill: getColor(client-logo);
    background-color: getColor(team-and-button);
    width: 100%;
    height: 120px;
    border-radius: 4px;
    padding: 25px 0;
  }
}
// .feature {
//   display: block;
//   width: 270px;

//   &__h3title {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: $line-height-for-font-14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     /*position of next element*/
//     margin-bottom: 10px;
//     margin-top: 30px;
//   }

//   &__description {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: getColor(ordinary-font);
//   }

//   &__icon {
//     fill: getColor(client-logo);
//     background-color: getColor(team-and-button);
//     width: inherit;
//     height: 120px;
//     border-radius: 4px;
//     padding: 25px 0;
//   }
// }
